<div class="row">
  <div class="col-md-6">
    <form #frm='ngForm' (ngSubmit)='submit()'>
      <label for="panNumber"> PAN Number </label>
      <input type="text" name="panNumber" [(ngModel)]='scoreToAdd.panNumber'>
      <label for="firstName"> First Name </label>
      <input type="text" name="firstName" [(ngModel)]='scoreToAdd.firstName'>
      <label for="score"> Score </label>
      <input type="number" name="score" [(ngModel)]='scoreToAdd.score'>
      <button type="submit" class="btn btn-primary"> Add <i class="fa fa-user-plus" aria-hidden="true"></i> </button>
    </form>
    <p> {{scoreToAdd|json}} </p>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <caption hidden='true'>CibilScore Table</caption>
      <tr>
        <th id="panNumber">PAN Number</th>
        <th id="firstName">First Name</th>
        <th id="score">Scores</th>
      </tr>
      <tr *ngFor="let score of scoreList">
        <td>{{score.panNumber}}</td>
        <td>{{score.firstName|uppercase}}</td>
        <td>{{score.score|number:'3.2-2'}}</td>
      </tr>
    </table>
  </div>
</div>
