
<h1>Cibil Scores</h1>

<app-search [searchLabel]="searchText"></app-search>

<table class="table table-striped">
  <tr>
    <th id="panNumber">PAN Number</th>
    <th id="firstName">First Name</th>
    <th id="score">Scores</th>
    <th id="extra1"></th>
    <th id="extra2"></th>
    <th id="showHide"></th>
  </tr>
  <tr *ngFor='let score of scoreList'>
    <!-- Interpolation -->
    <td>{{score.panNumber}}</td>
    <td>{{score.firstName}}</td>
    <td>{{score.score}}</td>
    <!-- event - () and property - [] binding -->
    <td><button (click)="handleClick('show')" [disabled]="!isHidden">Show Image</button></td>
    <td><button (click)="handleClick('hide')" [disabled]="isHidden">Hide Image</button></td>
    <td><button (click)="handleClick(show)" >{{show}}</button></td>
    <td></td>
  </tr>
</table>

<img src="../../assets/images/movie2.jpg" [ngStyle]={display:showImage} style="height: 15%; width: 15%;" alt="sampleimg"><br>

<app-twoway></app-twoway>
