
<h1>Cibil Scores</h1>

<!-- child-selector [childProperty]='parentProperty' [childProperty]='parentProperty' -->
<app-search [searchLabel]="searchText" [searchString]='queryString' (responseEvent)="handleResponse($event)"></app-search>
<!-- <input type="text" [(ngModel)]='queryStringExtra'> -->
<input type="text" [(ngModel)]='queryString'>


<h3>{{message}}</h3>

<h4>Salary : {{salary|currency:'INR':'symbol':'4.2-2'}}</h4>
<h6>Date : {{currentDate|date:'full'}} </h6>

<table class="table table-striped">
  <caption>CibilScore Table</caption>
  <tr>
    <th id="panNumber">PAN Number</th>
    <th id="firstName">First Name</th>
    <th id="score">Scores</th>
    <th id="extra1"></th>
    <th id="extra2"></th>
    <th id="showHide"></th>
  </tr>
  <tr *ngFor="let score of scoreList">
    <!-- Interpolation -->
    <td>{{score.panNumber}}</td>
    <td>{{score.firstName|uppercase}}</td>
    <td>{{score.score|number:'3.2-2'}}</td>
    <!-- event - () and property - [] binding -->
    <td><button (click)="handleClick('show')" [disabled]="!isHidden">Show Image</button></td>
    <td><button (click)="handleClick('hide')" [disabled]="isHidden">Hide Image</button></td>
    <td><button (click)="handleClick(show)" >{{show}}</button></td>
    <td></td>
  </tr>
</table>

<img src="../../assets/images/movie2.jpg" [ngStyle]={display:showImage} style="height: 15%; width: 15%;" alt="sampleimg"><br>

<app-twoway></app-twoway>
